nav
{
    position: fixed;
    width: 200px;
    top: 50px;
    bottom: 0;
    left: 0;

    z-index: 1;

    background-color: rgb(245, 245, 245);
}

#navbar-list
{
    list-style-type: none;
    margin: 50px 0 0 50px;
    padding: 0;
}

#navbar-list li
{
    margin: 0 0 18px 0;
}
