body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a
{
    color: inherit;
    text-decoration: none;
    background: transparent;
}

header
{
    background-color: rgb(155, 155, 155);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
}

.header-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo
{
    color: white;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 0 13px;
}

#dropdown-notify
{
    position: relative;
    display: inline-block;
    margin: 0 20px 0 0;
}

#notify-icon-container
{
    position: relative;
}

#notify-indicator
{
    position: absolute;
    background-color: #ae0e0e;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 1px;
    right: 1px;

    opacity: 0;
    transition: opacity 0.3s;
}

#notify-icon
{
    color: white;
    font-size: 25px;
}

#notify-icon:hover
{
    animation: bellAnimation 2s ease-in-out;
}

#dropdown-notify-content
{
    display: none;
    position: absolute;
    top: 27px;
    left: -100px;
    background-color: white;
    border: 2px solid rgb(155, 155, 155);
    padding: 8px 8px 0 0;
}

#dropdown-notify:hover #dropdown-notify-content
{
    display: block;
}

.dropdown-notify-item
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: 60px;
    margin: 0 0 10px 0;
}

.notify-user-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notify-user-name
{
    margin: 5px 0 0 0;
}

.dropdown-notify-message
{
    height: 20px;
    width: 180px;
    font-size: 14px;

    color: white;
    background-color: rgb(188, 188, 188);
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;

    margin: 5px 0 0 0;
    padding: 7px;

    white-space: nowrap; /* Без переносу на новий рядок */
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes bellAnimation
{
    0%   { transform: rotate(0);      }
    20%  { transform: rotate(45deg);  }
    40%  { transform: rotate(-45deg); }
    75%  { transform: rotate(20deg);  }
    100% { transform: rotate(0);      }
}

.user-photo
{
    height: 37px;
    border-radius: 50%;
}

#user-name
{
    color: white;
    margin: 0 0 0 15px;
}

#dropdown-profile
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 25px 0 0;
}

#dropdown-profile-content
{
    display: none;
    position: absolute;
    top: 27px;
    border: 1px solid rgb(155, 155, 155);
}

#dropdown-profile:hover #dropdown-profile-content
{
    display: block;
}

#dropdown-profile-content a
{
    background-color: white;
    color: black;
    padding: 12px 16px;
    display: block;
}

#dropdown-profile-content a:hover
{
    background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 350px)
{
    #user-name { display: none; }
    #dropdown-profile { margin: 0 10px 0 0; }

    #dropdown-notify:hover #dropdown-notify-content
    {
        display: none;
    }

    #dropdown-profile:hover #dropdown-profile-content
    {
        display: none;
    }
}